html
    head
    	+h.headers
        +h.load("/template/style.scss")
        block title
            title= site.title
        
    body
        header#header(style="background-image:url({{site.background_image}})")
            .header-container
                h1.site-title
                    a(href="/")= site.title
                if site.configs.sub_title
                    h2.site-description= site.configs.sub_title
                nav.main-navigation
                    +site.just_nav
                +site.just_socials

        .wrapper
            .content
                block content

            footer.footer
                p Powered by
                    a(href="https://us.bitcron.com", target="_blank")「Bitcron」·
                    a(href="https://lin.bitcron.com/bitcron-theme-motify" , target="_blank")「Motify」
                p
                    span= "©%s " %(site.now.year)


					
            +h.back_to_top(label="△")